@font-face {
  font-family: spoof;
  src: url(resources/font/Spoof-Thin.ttf) format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: spoof;
  src: url(resources/font/Spoof-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: spoof;
  src: url(resources/font/Spoof-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: spoof;
  src: url(resources/font/Spoof-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: spoof;
  src: url(resources/font/Spoof-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: spoof;
  src: url(resources/font/Spoof-Black.ttf) format("truetype");
  font-weight: 900;
}

body {
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

div.bg_grid {
  opacity: 1;
  background-image: linear-gradient(#538d4e 0.08rem, transparent 0.08rem),
    linear-gradient(to right, #538d4e 0.08rem, #fff 0.08rem);
  background-size: 10vw 10vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: spoof;
}

.wrapper {
  display: flex;
  justify-content: center;
}

/*Wordle CSS*/
#hashtag {
  animation: hashtag 0.9s infinite;
}
@keyframes hashtag {
  0% {
    color: #16a34a;
  }
  50% {
    color: #fbc638;
  }
  100% {
    color: #16a34a;
  }
}

h3 {
  text-align: center;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  border: 2px solid #d3d6da;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 200;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid black;
  color: black;
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #d3d6da;
  border-radius: 6px;
  border: none;
}
